.sidebar{
    background-color: white;
    height: 100vh;
    padding-top: 30px;
    position: fixed;
    width: 16%;
}
.add_to_form_right{
    padding: 20px;
  }
 
.priority{
    display: block;
    width: 100%;
    margin-top: 15%;
}
.priority p{
    color: black;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    font-weight: 600;
}

.priority .active {
    background-color: #EFF6FC;
    position: relative;
    border-left: 3px solid #2564CF !important;

  }

 .task-input-area{
display: flex;
 }
 .task-input-area .form-control{
    width: 90%;
    position: relative;
   height: 50px;
 }
 .task-input-area .form-control:focus{
    box-shadow: none;
    border: 1px solid #dee2e6;
 }
 .task-input-area .btn{
    display: grid;
    color: #2564CF;
    background-color: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 10%;
    font-weight: 600;
    position: absolute;
    right: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    height: 50px;
}
 .task-input-area .btn:hover{
    background-color: #2563cfa4;
    color: black;
}
 
 .task-input-area .btn:active{
    color: #2564CF;
    background-color: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.26);
}
 
